@{
    Layout = "/modules/Knowit.EPiModules.StandardSearchInspector/Views/Shared/Layouts/_Module.cshtml";
}
<div>
    
</div>
<div class="main-module-container epi-contentContainer js-iframe-container" data-iframeurl="/EPiServer/CMS/Admin/IndexContent.aspx">
    <div class="loader-container"><img class="loader" src='/Static/gfx/ajax-loader-large.gif'></div>
</div>