*.tmp_proj
*.log
*.vspscc
*.vssscc

# EPiServer Files
*License.config


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

# NuGet Packages Directory
packages/

# User-specific files
*.suo
*.user
*.sln.docstates

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user